.jumbotron{
	background-color: black;
	margin-top: 35px;
}

.imagen{
	width: 100%;
	height: 300px;
}

.btn-ir{
	width: 100%;
	border-radius: 0px;
}

.button-aling-right{
	padding-right: 10px;
	color: black;
}
.card-pagina{
	flex: 1 250px;
	margin-top: 10px;
	margin-bottom: 10px;
	
}

.img{
	width: 100%;
	height: 100px;
}

.Fondo{
	margin-bottom: 35px:;
}